{% extends 'accounts/layout.html' %}
{% load static %}


{% block content %}
  {% if not user.is_authenticated %}

    <div class="row justify-content-center">
      <div class="col-4">
        <form class="form-signin" action="" method="post">
          {% csrf_token %}
          <div class="text-center mb-4">
            <img src="{% static 'images/devfolio-logo.png'%}" alt="logo">
          </div>

          <!-- Non field errors -->
          {% for error in form.non_field_errors %}
            <p class="text-danger">
              {{ error }}
            </p>
          {% endfor %}

          <!-- Hidden Fields -->
          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}

          <!-- Visible Fields -->
          {% for field in form.visible_fields %}
            <div class="form-label-group">
              {{ field }}
              {% if field.errors %}
                {% for error in field.errors %}
                  <p class="text-danger">
                    {{ error }}
                  </p>
                {% endfor %}
              {% endif %}
              <br/>
            </div>
          {% endfor %}

          {% block button %}
          {% endblock %}

        </form>
      </div>
    </div>

  {% endif %}
{% endblock %}
