    <!-- AwardFormset Data -->
    {{ award_formset.management_form }}

    <!-- Award_Formset: Add button -->
    <a id="add-{{ award_formset.prefix }}" class="btn btn-default">
      <i class="fas fa-plus"></i>
      {# FIXME: using bootstrap class #}
      <span style="font-size: 2em;">{{ award_formset.prefix | title }}</span>
    </a>
 
    <!-- Award Formset -->
    <div class="{{ award_formset.prefix }}-formset">
    <!-- Award Formset: Non Form Errors -->
    {% for error in award_formset.non_form_errors %} 
      <p class="text-danger">
        {{ error }}
      </p>
    {% endfor %}
  
      {% for form in award_formset %}
      <!-- Award Forms -->
        <div class="text-secondary {{ award_formset.prefix }}-form">
          <!-- Award: Non field errors -->
          {% for error in form.non_field_errors %}
            <p class="text-danger">
              {{ error }}
            </p>
          {% endfor %}
  
          <!-- Award: Hidden Fields -->
          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}
  
          <!-- Award: Visible Fields -->
          
          <!-- Award: The First Row -->
          <div class="row">
            <div class="col-sm-10 order-sm-12">
              <!-- Empty Award: Close form button -->
              <a class="btn btn-default float-right close-{{ award_formset.prefix }}">
                <i class="fas fa-times"></i>
              </a>
            </div>
            {% for field in form.visible_fields %}
              
              {% if field.name in first_row_field_list %}
                {% if field.name in date_field_list %}
                <div class="col-sm-2">
                {% else %}
                {% endif %}
              
                <div class="form-group">
                
                  {{ field }}
                  
                  {% if field.errors %}
                    {% for error in field.errors %}
                      <p class="text-danger">
                        {{ error }}
                      </p>
                    {% endfor %}
                  {% endif %}
                
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div> <!-- Award: End of the First Row -->

          <!-- Award: The Other Rows -->
          <div class="row">
            {% for field in form.visible_fields %}

              {% if field.name not in first_row_field_list %}
              <div class="col-sm-12 mb-3">

                {{ field }}

              {% if field.errors %}
                {% for error in field.errors %}
                  <p class="text-danger">
                    {{ error }}
                  </p>
                {% endfor %}
              {% endif %}

              </div>
              {% endif %}

            {% endfor %}
          </div> <!-- Award: End of the Other Rows -->

        </div>
      {% endfor %}

    </div>
  
    <div class="empty-{{ award_formset.prefix }}-form" style="display: none">
      <div class="text-secondary {{ award_formset.prefix }}-form">
        {% with award_formset.empty_form as form %} 
 
          <!-- Empty Award: Non field errors -->
          {% for error in form.non_field_errors %}
            <p class="text-danger">
              {{ error }}
            </p>
          {% endfor %}

          <!-- Empty Award: Hidden Fields -->
          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}

          <!-- Empty Award: Visible Fields -->

          <!-- Empty Award: The First Row -->
          <div class="row">
            <div class="col-sm-10 order-sm-12">
              <!-- Empty Award: Close form button -->
              <a class="btn btn-default float-right close-{{ award_formset.prefix }}">
                <i class="fas fa-times"></i>
              </a>
            </div>
            {% for field in form.visible_fields %}
              
              {% if field.name in first_row_field_list %}
                {% if field.name in date_field_list %}
                <div class="col-sm-2">
                {% else %}
                {% endif %}
              
                <div class="form-group">
                
                  {{ field }}
                  
                  {% if field.errors %}
                    {% for error in field.errors %}
                      <p class="text-danger">
                        {{ error }}
                      </p>
                    {% endfor %}
                  {% endif %}
                
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div> <!-- Empty Award: End of the First Row -->

          <!-- Empty Award: The Other Rows -->
          <div class="row">
            {% for field in form.visible_fields %}

              {% if field.name not in first_row_field_list %}
              <div class="col-sm-12 mb-3">

                {{ field }}

              {% if field.errors %}
                {% for error in field.errors %}
                  <p class="text-danger">
                    {{ error }}
                  </p>
                {% endfor %}
              {% endif %}

              </div>
              {% endif %}

            {% endfor %}
          </div> <!-- Empty Award: End of the Other Rows -->

        {% endwith %}


      </div>
    </div>
