    <!-- CareerFormset Data -->
    {{ formset.management_form }}

    <!-- Add button -->
    <a id="add-{{ formset.prefix }}" class="btn btn-default">
      <i class="fas fa-plus"></i>
      {# FIXME: using bootstrap class #}
      <span style="font-size: 2em;">{{ formset.prefix | title }}</span>
    </a>
 
    <!-- Career Formset -->
    <div class="form-set">
    <!-- Career Formset: Non Form Errors -->
    {% for error in formset.non_form_errors %} 
      <p class="text-danger">
        {{ error }}
      </p>
    {% endfor %}
  
      {% for form in formset %}
      <!-- Career Forms -->
        <div class="text-secondary {{ formset.prefix }}-form">
          <!-- Non field errors -->
          {% for error in form.non_field_errors %}
            <p class="text-danger">
              {{ error }}
            </p>
          {% endfor %}
  
          <!-- Hidden Fields -->
          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}
  
          <!-- Visible Fields -->
          <div class="row">
            {% for field in form.visible_fields %}
               
              {% if field.name in date_field_list %}
              <div class="col-sm-2">
              {% else %}
              <div class="col-sm-8">
              {% endif %}

                <div class="form-group">

                {% if field.name == 'currently_employed' %}
                  <div class="custom-control custom-checkbox">
                {% endif %}

                  {{ field }}

                  {% if field.name == 'currently_employed' %}
                  <label class="custom-control-label" for="{{ field.auto_id }}">
                    {{ field.label }}
                  </label>
                  {% endif %}

                  {% if field.errors %}
                    {% for error in field.errors %}
                      <p class="text-danger">
                        {{ error }}
                      </p>
                    {% endfor %}
                  {% endif %}

                  {% if field.name == 'currently_employed' %}
                    </div>
                  {% endif %}

                </div>
              </div>
            {% endfor %}
          </div>

          <!-- Close form button -->
          <a class="btn btn-default close-{{ formset.prefix }} pull-right">
            <i class="fas fa-times"></i>
          </a>
        </div>
      {% endfor %}
    </div>
  
    <div class="empty-{{ formset.prefix }}-form" style="display: none">
      <div class="text-secondary {{ formset.prefix }}-form">
        {% with formset.empty_form as form %} 
 
          <!-- Non field errors -->
          {% for error in form.non_field_errors %}
            <p class="text-danger">
              {{ error }}
            </p>
          {% endfor %}

          <!-- Hidden Fields -->
          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}

          <!-- Visible Fields -->
          <div class="row">
            {% for field in form.visible_fields %}
              
              {% if field.name in date_field_list %}
              <div class="col-sm-2">
              {% else %}
              <div class="col-sm-8">
              {% endif %}
              
                <div class="form-group">
                
                {% if field.name == 'currently_employed' %}
                  <div class="custom-control custom-checkbox">
                {% endif %}
                
                  {{ field }}
                  
                  {% if field.name == 'currently_employed' %}
                  <label class="custom-control-label" for="{{ field.auto_id }}">
                    {{ field.label }}
                  </label>
                  {% endif %}
                  
                  {% if field.errors %}
                    {% for error in field.errors %}
                      <p class="text-danger">
                        {{ error }}
                      </p>
                    {% endfor %}
                  {% endif %}

                {% if field.name == 'currently_employed' %}
                  </div>
                {% endif %}
                
                </div>
              </div>
            {% endfor %}
          </div>
        {% endwith %}

        <!-- Close form button -->
        <a class="btn btn-default close-{{ formset.prefix }}">
          <i class="fas fa-times"></i>
        </a>

      </div>
    </div>
