{% extends 'resume/layout.html' %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  {{ formset.management_form }}
  <input type="button" value="+" class="add-form"/>
  <div class="form-set">
    {% for form in formset %}
      <div class="alert alert-disimissible fade show text-secondary" role="alert">
        <table class="form">
          {{ form.as_table }}
        </table>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  </div>
  <input type="submit"/>

  <div class="empty-form" style="display: none">
    <div class="alert alert-disimissible fade show text-secondary" role="alert">
      <table class="form">
        {{ formset.empty_form.as_table }} 
      </table>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</form>
{% endblock %}

{% block script %}
<script>
  $('.add-form').click(function() {
    var form_idx = $('#id_{{ formset.prefix }}-TOTAL_FORMS').val();
    $('.form-set').append($('.empty-form').html().replace(/__prefix__/g, form_idx));
    $('#id_{{ formset.prefix }}-TOTAL_FORMS').val(parseInt(form_idx)+1);
  })
</script>
{% endblock %}
