  <script>
    function updateFormsIndex(el, prefix, ndx) {
      // FIXME: re-type own style
      var id_regex = new RegExp('(' + prefix + '-\\d+)');
      var replacement = prefix + '-' + ndx;

      // change label's for
      if ($(el).attr("for")) {
        $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
      }
      // change id
      if (el.id) {
        el.id = el.id.replace(id_regex, replacement);
      }
      // change name
      if (el.name) {
        el.name = el.name.replace(id_regex, replacement);
      }
    }

    // Add form
    $(document).on('click', '#add-{{ formset.prefix }}', function(e) {
      var $totalFormsVal = $('#id_{{ formset.prefix }}-TOTAL_FORMS').val();
      var $totalFormsNum = parseInt($totalFormsVal);
      if($totalFormsNum < {{ formset.max_num }}) {
        // Add from empty_form
        $('.form-set').append($('.empty-{{ formset.prefix }}-form').html().replace(/__prefix__/g, $totalFormsVal));
        $('#id_{{ formset.prefix }}-TOTAL_FORMS').val($totalFormsNum+1);
      }
    });

    // Close form
    $(document).on('click', '.close-{{ formset.prefix }}', function(e) {
      var $totalFormsVal = $('#id_{{ formset.prefix }}-TOTAL_FORMS').val();
      var $totalFormsNum = parseInt($totalFormsVal);

      if($totalFormsNum > 0) {
        // Close the {{ formset.prefix }} form
        $(this).closest('.{{ formset.prefix }}-form').remove();

        var ${{ formset.prefix }}Forms = $('.{{ formset.prefix }}-form');
        var ${{ formset.prefix }}FormsNum = ${{ formset.prefix }}Forms.length - 1; 

        $('#id_{{ formset.prefix }}-TOTAL_FORMS').val(${{ formset.prefix }}FormsNum); // exclude empty_form

        for(var i = 0; i < ${{ formset.prefix }}FormsNum; i++) {
          $(${{ formset.prefix }}Forms.get(i)).find('.form-control, label').each(function() {
            updateFormsIndex(this, '{{ formset.prefix }}', i)
          });
        }

        return false;
      }
    });
  </script>
